
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
  Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <h1>Test CSS</h1>

  <button type="button" class="btn btn-primary">Primary</button>

  <h1>Test Cards</h1>

  <div class="card-wagon">
    <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
    <div class="card-wagon-infos">
      <div>
        <h2>Title here</h2>
        <p>Short description here!</p>
      </div>
      <h2 class="card-wagon-pricing">£99.99</h2>
      <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-wagon-user avatar-bordered" />
    </div>
  </div>

  <%= link_to "#" do %>
    <%= image_tag "logo.png", alt: "Le Wagon", width: 200 %>
  <% end %>
</div>




<div class="logo"></div>


